export PGDATA="$PWD/tmp/postgres"
export REDIS_DATA="$PWD/tmp/dev-redis/data";
export REDIS_LOG="$PWD/tmp/dev-redis/logs";
export PGUSER=postgres
export PGPASSWORD=password
export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=ruby_conf_database


echo "Hi Ruby Conf Toronto ! :)"

use flake 

source_env_if_exists .envrc.local
